IISHostTest/Service References/ReqService/RequestService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55750/RequestService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NGU.Core" />
  <xs:import schemaLocation="http://localhost:55750/RequestService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/NGU.Enums" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRequestNum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateRequestNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerateRequestNumResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NGU.Core" minOccurs="0" name="request" nillable="true" type="q1:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRequestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NGU.Enums" minOccurs="0" name="GetRequestStatusResult" type="q2:RequestStatuses" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRequestStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestNum" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NGU.Enums" minOccurs="0" name="requestStatus" type="q3:RequestStatuses" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveRequestStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveRequestStatusResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docType" type="xs:int" />
        <xs:element minOccurs="0" name="docNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="docCountry" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NGU.Core" minOccurs="0" name="GetRequestByDocResult" nillable="true" type="q4:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByNum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestNum" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRequestByNumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/NGU.Core" minOccurs="0" name="GetRequestByNumResult" nillable="true" type="q5:Request" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>