Domain/NGU.Interfaces/Service References/ApiAdmin/ApiService63.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/NGU.Admin.Enums" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NGU.Admin.Enums" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ModuleTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Global" />
      <xs:enumeration value="Admin" />
      <xs:enumeration value="BlackList" />
      <xs:enumeration value="Identification" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ModuleTypes" nillable="true" type="tns:ModuleTypes" />
  <xs:simpleType name="UserLoginResultTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Faild" />
      <xs:enumeration value="ChangePasswordRequired" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserLoginResultTypes" nillable="true" type="tns:UserLoginResultTypes" />
  <xs:simpleType name="UserValidationTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Faild" />
      <xs:enumeration value="UserNotFound" />
      <xs:enumeration value="PasswordIncorrect" />
      <xs:enumeration value="UserNotActive" />
      <xs:enumeration value="UserLoggedToManyTimes" />
      <xs:enumeration value="NewAndOldPasswordMatch" />
      <xs:enumeration value="Success" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UserValidationTypes" nillable="true" type="tns:UserValidationTypes" />
</xs:schema>