IISHostTest/Service References/PersonService/PersonService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PersonService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55750/PersonService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55750/PersonService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55750/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NGU.Core" />
      <xsd:import schemaLocation="http://localhost:55750/PersonService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Pangea.BaseStructures" />
      <xsd:import schemaLocation="http://localhost:55750/PersonService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:55750/PersonService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Pangea.Fingerprints.Interfaces" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPersonService_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IPersonService_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonDoc" />
  </wsdl:message>
  <wsdl:message name="IPersonService_GetPersonDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonDocResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SearchPersonByDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPersonByDoc" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SearchPersonByDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPersonByDocResponse" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SaveFingerprints_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveFingerprints" />
  </wsdl:message>
  <wsdl:message name="IPersonService_SaveFingerprints_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveFingerprintsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPersonService">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IBaseService/IsAlive" message="tns:IPersonService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBaseService/IsAliveResponse" message="tns:IPersonService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPerson" message="tns:IPersonService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonResponse" message="tns:IPersonService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonDoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/GetPersonDoc" message="tns:IPersonService_GetPersonDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/GetPersonDocResponse" message="tns:IPersonService_GetPersonDoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPersonByDoc">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SearchPersonByDoc" message="tns:IPersonService_SearchPersonByDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SearchPersonByDocResponse" message="tns:IPersonService_SearchPersonByDoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveFingerprints">
      <wsdl:input wsaw:Action="http://tempuri.org/IPersonService/SaveFingerprints" message="tns:IPersonService_SaveFingerprints_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPersonService/SaveFingerprintsResponse" message="tns:IPersonService_SaveFingerprints_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPersonService" type="tns:IPersonService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://tempuri.org/IBaseService/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPerson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonDoc">
      <soap:operation soapAction="http://tempuri.org/IPersonService/GetPersonDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPersonByDoc">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SearchPersonByDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFingerprints">
      <soap:operation soapAction="http://tempuri.org/IPersonService/SaveFingerprints" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PersonService">
    <wsdl:port name="BasicHttpBinding_IPersonService" binding="tns:BasicHttpBinding_IPersonService">
      <soap:address location="http://localhost:55750/PersonService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>