IISHostTest/Service References/PersonService/PersonService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55750/PersonService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NGU.Core" />
  <xs:import schemaLocation="http://localhost:55750/PersonService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NGU.Core" minOccurs="0" name="GetPersonResult" nillable="true" type="q1:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPersonDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NGU.Core" minOccurs="0" name="GetPersonDocResult" nillable="true" type="q2:PersonDoc" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPersonByDoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="docType" type="xs:int" />
        <xs:element minOccurs="0" name="docNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="country" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPersonByDocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NGU.Core" minOccurs="0" name="SearchPersonByDocResult" nillable="true" type="q3:Person" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFingerprints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fingerData" nillable="true" type="q4:ArrayOfKeyValueOfFPIndexesbase64BinarynS7PYdjS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveFingerprintsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>