IISHostTest/Service References/PersonService/PersonService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55750/PersonService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Pangea.Fingerprints.Interfaces" />
  <xs:complexType name="ArrayOfKeyValueOfFPIndexesbase64BinarynS7PYdjS">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfFPIndexesbase64BinarynS7PYdjS">
        <xs:complexType>
          <xs:sequence>
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Pangea.Fingerprints.Interfaces" name="Key" type="q1:FPIndexes" />
            <xs:element name="Value" nillable="true" type="xs:base64Binary" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfFPIndexesbase64BinarynS7PYdjS" nillable="true" type="tns:ArrayOfKeyValueOfFPIndexesbase64BinarynS7PYdjS" />
</xs:schema>